/*
  定义标签样式：用于指定的HTML标签所应用的样式
  */
html,body {
    width:100%; height: 100%;
    margin: 0; padding: 0;
}
body {
    border: 1px red solid;
}
img {
    width:200px;
}
/*
定义类样式：在任意标签内指定class属性应用的样式，可以多个样式赋值用空格分隔
*/
.a1 {
    border: 5px red solid;
}
.a2{
    line-height: 150%;
}
.a3 {
    width: 80%;
}
/*
id格式：指定某id对象的应用样式
*/
#score {
    color: blue;
}
#score2 {
    color: yellow;
}
#bb {
    width: 30%;
}



